
<div class="container">
  <div ng-controller="mainController as vm">
    <%= form_for @text, :html => {:'ng-submit' => 'vm.sendText(text, username, address, $event)'} do |f| %>
      <%= f.label :text %>:
      <%= f.text_field :text, class: "form-control", data: {"ng-model" => "text"} %><br />
      <%= f.label :username %>:
      <%= f.text_field :text, class: "form-control", data: {"ng-model" => "username"}%><br />
      <%= f.label :address %>:
      <%= f.text_field :text, class: "form-control", data: {"ng-model" => "address"}%><br />
      <%= f.button "DONE", type: "button", class: "btn btn-primary", data: {"ng-click" => "vm.sendText(text, username, address, $event)"} %>
      <h1>{{ vm.latest.text }}</h1>

      <div ng-repeat="textObj in vm.textList">
        <ul>
        <!-- <li>{{ textObj.text }}</li>
        <li>{{ textObj.username }}</li>
        <li>Latitude:{{ textObj.latitude}}, Longitude: {{ textObj.longitude}}</li>
        <form novalidate>
          Text: <input type="text" ng-model="reply_text" /><br />
          Username: <input type="text" ng-model="reply_username" /><br />
          <input type="submit" value="Reply" ng-click="vm.sendReply(reply_text, reply_username, textObj.id, $event)" />
        </form>
        </ul> -->
        <p>{{ textObj.text }}</p>
        <p>{{ textObj.username }}</p>
        <p>Latitude:{{ textObj.latitude }}, longitude:{{ textObj.longitude }}</p>

        <%= f.fields_for :replies, :html => {:'ng-submit' => 'vm.sendReply(textObj, username, $event)'} do |fr| %>
          <%= fr.label :reply_text %>:
          <%= fr.text_field :reply_text, class: "form-control", data: {"ng-model" => "textObj.reply_text"}%><br />
          <%= fr.label :username%>
          <%= fr.text_field :username, class: "form-control", data: {"ng-model" => "textObj.reply_username"}%><br />
          <%#= fr.hidden_field_tag :text, data: {"ng-model" => "textObj.id"} %>
          <%= fr.button "REPLY", type: "button", class: "btn btn-primary", data: {"ng-click" => "vm.sendReply(textObj, $index, $event)"} %>
          <ul>
            <li ng-repeat="reply in textObj.replies">
              {{ reply.username }}: {{ reply.reply_text }}
            </li>
          </ul>
        <!-- End Fields for Reply -->
        <% end %>

      </div>

    <!-- End Main Form -->
    <% end %>
  </div>
</div>
