<h1>Texts#new</h1>

<div ng-controller="mainController as vm">
  <%= form_for @text, :html => {:'ng-submit' => 'vm.sendText(text, username, $event)'} do |f| %>
    <%= f.label :text %>:
    <%= f.text_field :text, data: {"ng-model" => "text"} %><br />
    <%= f.label :username %>:
    <%= f.text_field :text, data: {"ng-model" => "username" }%><br />
    <%= f.button "DONE", type: "button", data: {"ng-click" => "vm.sendText(text, username, $event)"} %>
    <h1>{{ }}</h1>
  <% end %>

  <div ng-repeat="textObj in vm.serverReturn">
    <ul>
    <li>{{ textObj.text }}</li>
    <li>{{ textObj.username }}</li?
    </ul>
  </div>
</div>

<%= %>
<ul>
<li><%= %></li>
</ul>
