<h1>Texts#new</h1>

<div ng-controller="mainController as vm">
  <form novalidate>
    Text: <input type="text" ng-model="text" /><br />
    Username: <input type="text" ng-model="username" /><br />
    <button type="submit" ng-click="vm.sendText(text, username, $event)">
      Done
    </button>
    <h1>{{ vm.latest.text }}</h1>
  </form>

  <% if false %>
  <%= form_for @text, :html => {:'ng-submit' => 'vm.sendText(text, username, $event)'} do |f| %>
    <%= f.label :text %>:
    <%= f.text_field :text, data: {"ng-model" => "text"} %><br />
    <%= f.label :username %>:
    <%= f.text_field :text, data: {"ng-model" => "username" }%><br />
    <%= f.button "DONE", type: "button", data: {"ng-click" => "vm.sendText(text, username, $event)"} %>
    <h1>{{ vm.latest.text }}</h1>
  <% end %>
  <% end %>

  <div ng-repeat="textObj in vm.textList">
    {{ textObj.text }}
    {{ textObj.username }}
    <form novalidate>
      Text: <input type="text" ng-model="textObj.reply_text" /><br />
      Username: <input type="text" ng-model="textObj.reply_username" /><br />
      <input type="submit" value="Reply" ng-click="vm.sendReply(textObj, $index, $event)" />
    </form>
    <ul>
      <li ng-repeat="reply in textObj.replies">
  {{ reply.username }} : {{ reply.reply_text }}
  </li>
    </ul>
  </div>

</div>

<%= %>
<ul>
<li><%= %></li>
</ul>
